.centered {
    text-align: center !important;
}

.centerImg {
    display: block;
    margin-left: 37%;
    margin-right: auto;
    width: 50%;
}

._2iA8p44d0WZ-WqRBGcAuEV  {
    display: block;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
}

.optionListContainer {
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
}
